apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: app-secrets-with-extract-key
spec:
  provider: gcp
  parameters:
    secrets: |
      - resourceName: "projects/$PROJECT_ID/secrets/testsecret/versions/latest"
        path: "good1.txt"
        extractJSONKey: "user"
      - resourceName: "projects/$PROJECT_ID/locations/us-central1/secrets/testsecret/versions/latest"
        path: "good2.txt"
        extractJSONKey: "user"

# NOTE: Please provide the secret and regional secret in JSON format, including the key for "user" 
# to ensure this example functions correctly. The regional secret must either be located in the 
# `us-central1` region or you need to change the location in the resourceName.
