nameOverride: ""

serviceAccount:
  annotations: {}
  name: secrets-store-csi-driver-provider-gcp

image:
  repository: us-docker.pkg.dev/secretmanager-csi/secrets-store-csi-driver-provider-gcp/plugin
  pullPolicy: IfNotPresent
  hash: sha256:c506476df12f50d6749167562cfb18af935ce8dd7a5b1006a313519dd021ecfd

initContainer:
  image:
    repository: busybox
    tag: latest
    pullPolicy: IfNotPresent

app: csi-secrets-store-provider-gcp

podAnnotations: {}

resources:
  requests:
    cpu: 50m
    memory: 100Mi
  limits:
    cpu: 50m
    memory: 100Mi

priorityClassName: ""

nodeSelector:
  kubernetes.io/os: linux

tolerations: []

affinity: {}
