apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "secrets-store-csi-driver-provider-gcp.daemonSetName" . }}
  namespace: kube-system
  labels:
    {{- include "secrets-store-csi-driver-provider-gcp.labels" . | nindent 4 }}
spec:
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      {{- include "secrets-store-csi-driver-provider-gcp.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "secrets-store-csi-driver-provider-gcp.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "secrets-store-csi-driver-provider-gcp.serviceAccountName" . }}
      hostNetwork: false
      hostPID: false
      hostIPC: false
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      containers:
        - name: provider
          image: "{{ .Values.image.repository }}@{{ .Values.image.hash }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            readOnlyRootFilesystem: true
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: TARGET_DIR
              value: "/etc/kubernetes/secrets-store-csi-providers"
          volumeMounts:
            - mountPath: "/etc/kubernetes/secrets-store-csi-providers"
              name: providervol
              readOnly: false
            - name: profiles
              mountPath: "/profiles"
              readOnly: true
              mountPropagation: None
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /live
              port: 8095
            initialDelaySeconds: 5
            timeoutSeconds: 10
            periodSeconds: 30
      volumes:
        - name: providervol
          hostPath:
            path: /etc/kubernetes/secrets-store-csi-providers
        - name: profiles
          configMap:
            name: apparmor-profiles
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
